/* IMPORT FONTS */

@font-face {

    font-family: 'dan';

    src:url('../fonts/daniel.eot');

    src:url('../fonts/daniel.eot?#iefix') format('embedded-opentype'),

       url('../fonts/daniel.woff2') format('woff2'),

       url('../fonts/daniel.woff') format('woff'),

       url('../fonts/daniel.ttf') format('truetype'),

       url('../fonts/daniel.svg#daniel') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'dan-b';

    src: url('../fonts/danielbold.eot');

    src: url('../fonts/danielbold.eot?#iefix') format('embedded-opentype'),

        url('../fonts/danielbold.woff2') format('woff2'),

        url('../fonts/danielbold.woff') format('woff'),

        url('../fonts/danielbold.ttf') format('truetype'),

        url('../fonts/danielbold.svg#danielbold') format('svg');

    font-weight: bold;

    font-style: normal;

}



@font-face {

    font-family: 'persp-i';

    src:url('../fonts/perspectivesansitalic.eot');

    src:url('../fonts/perspectivesansitalic.eot?#iefix') format('embedded-opentype'),

       url('../fonts/perspectivesansitalic.woff2') format('woff2'),

       url('../fonts/perspectivesansitalic.woff') format('woff'),

       url('../fonts/perspectivesansitalic.ttf') format('truetype'),

       url('../fonts/perspectivesansitalic.svg#perspectivesansitalic') format('svg');

    font-weight: normal;

    font-style: italic;

}



@font-face {

    font-family: 'persp-r';

    src:url('../fonts/perspectivesans.eot');

    src:url('../fonts/perspectivesans.eot?#iefix') format('embedded-opentype'),

       url('../fonts/perspectivesans.woff2') format('woff2'),

       url('../fonts/perspectivesans.woff') format('woff'),

       url('../fonts/perspectivesans.ttf') format('truetype'),

       url('../fonts/perspectivesans.svg#perspectivesans') format('svg');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'persp-b';

    src: url('../fonts/perspectivesansbold.eot');

    src: url('../fonts/perspectivesansbold.eot?#iefix') format('embedded-opentype'),

        url('../fonts/perspectivesansbold.woff2') format('woff2'),

        url('../fonts/perspectivesansbold.woff') format('woff'),

        url('../fonts/perspectivesansbold.ttf') format('truetype'),

        url('../fonts/perspectivesansbold.svg#perspectivesansbold') format('svg');

    font-weight: bold;

    font-style: normal;

}









/* RESET */

body, ul, li, ol, form, h1, h2, h3, h4, h5, h6, div, span, p { padding:0; margin:0; border:0; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; text-size-adjust:none;}

article, aside, dialog ,figcaption, figure, footer, header, hgroup, main, nav, section { display:block;}  

input, textarea                                             { -webkit-appearance:none; -ms-appearance:none; appearance:none; -moz-appearance:none; -o-appearance:none; border-radius:0;}

*                                                           { outline:none !important;}

strong, b                                                   { font-weight:normal; font-family:persp-b;}

ul                                                          { list-style-type:none;}

body                                                        { font:normal 14px/24px persp-r, Arial; color:#333333;}

body *                                                      { box-sizing:border-box; outline:0 }

a                                                           { text-decoration:none; color:#c3312d; outline:none;}

img                                                         { border:none;}

p                                                           { margin-bottom: 27px;line-height: 26px }


.blcIntro img,
.size-large{
    display: block;
    max-width: 100%;
    height: auto;
}



/* CLASS */

.clear                                                      { clear:both; float:none !important; width:100% !important; padding:0 !important; margin:0 !important; display:block;}

.clr:after                                                  { content:''; display:table; width:100%; clear:both}

.wrapper                                                    { margin: auto;padding: 0 40px;max-width: 1220px; }

.link                                                       { display: inline-block;background: #c3312d;padding: 23px 30px;color: #ffffff;font:normal 14px/14px persp-r, Arial;text-transform: uppercase; }

.slick-prev                                                 { width:50px; height:50px; background:url(../images/arw-left.png) 50% 50% no-repeat;  z-index:50; cursor:pointer; text-indent:-9999px; outline:none; border:0; padding:0;border:1px solid #cccccc}

.slick-next                                                 { width:50px; height:50px; background:url(../images/arw-right.png) 50% 50% no-repeat; z-index:50; cursor:pointer; text-indent:-9999px; outline:none; border:0; padding:0;border:1px solid #cccccc;}

.slick-prev:before                                          { content: '';background: url(../images/arw-left-on.png)center no-repeat;position: absolute;top: 0;right: 0;width: 100%;height: 100%;opacity: 0;display: block!important; } 

.slick-next:before                                          { content: '';background: url(../images/arw-right-on.png)center no-repeat;position: absolute;top: 0;right: 0;width: 100%;height: 100%;opacity: 0 } 

.titre                                                      { font: normal 30px/30px dan; }







/* HEADER */

.page .banner                                               { height: 420px;position: relative; }
.banner-page:before{content: "";position: absolute;width: 100%;height: 100%;top: 0;bottom: 0;left: 0;display: block;background: rgba(0,0,0,0.1);}

#header                                                     { position: relative; }

#header .wrapper                                            { max-width: 1326px; }

.headerTop                                                  { position: absolute;width: 100%;z-index: 999 }

.blcCoord                                                   { float: right; /*padding: 19px 40px 17px 40px;*/ padding: 19px 16px 17px 40px; background:rgba(255,255,255,0.25);color: #ffffff;line-height: 16px }

.blcCoord>div                                               { display: inline-block; }

.blcCoord .tel                                              { background:url(../images/icon-tel.png)left center no-repeat;padding:0 26px 0 30px }

.blcCoord .tel a                                            { font:normal 16px/16px persp-r;color: #ffffff }

.blcCoord .language                                         { position: relative; display: none; }

.blcCoord .language:after                                   { content:'';width: 6px;height: 5px;background:url(../images/icon-fleche.png)center no-repeat;position: absolute;right: 0;top: 50%;margin-top:-2px; }

.blcCoord .language select                                  { background:none;border:none;color: #ffffff;-moz-appearance: none;-webkit-appearance: none }

.blcCoord .language .hide                                   { display: none;position: absolute; }

.blcCoord .language li                                      { padding: 0 24px 0 28px;cursor: pointer; }

.blcCoord .language li a                                    { color: #ffffff }

.blcCoord .language li.fr                                   { background:url(../images/flag-fr.jpg)left center no-repeat; }



.blocSlider                                                 { position: relative; }

#slider                                                     { width:100%;  height:calc(100vh + 110px); min-height:752px; position:relative; z-index:45;   }

#slider .slick-list                                         { width:100%; height:100%;}

#slider .slick-track                                        { width:100%; height:100%;}

#slider .banner                                             { height: 100% ;}

#slider .textBanner                                         { display: table;height: 100%;margin: auto;  }

#slider .textBanner .content                                { display: table-cell;vertical-align: middle;max-width: 490px;margin: auto;text-align: center; height: auto;}

#slider .banner1                                            { background:url(../images/banner-1.jpg) 50% 50% no-repeat; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;  width: 100%; height: 100%}

#slider .banner2                                            { background:url(../images/banner-2.jpg) 50% 50% no-repeat; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;  width: 100%; height: 100%}

#slider .banner3                                            { background:url(../images/banner-3.jpg) 50% 50% no-repeat; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;  width: 100%; height: 100%}

#slider .textBanner .title                                  { font:normal 44px/44px dan;display: block;margin-bottom: 17px;color: #ffffff }

#slider .textBanner .text                                   { font:normal 24px/24px persp-r, Arial;color: #ffffff; text-transform: uppercase;  }

#slider .textBanner .blcLink                                { font-size: 0;text-align: center;margin-top: 35px }

#slider .textBanner .blcLink .link                          { margin:0 15px; }

#slider .textBanner .content>div                            { margin-top: 31px; }





#header.page .wrapper                                       { max-width: 1322px }

#header.page .bredcrumb .wrapper                            { max-width: 1220px }

.page .banner.qui-sommes-nous                               { background:url(../images/banner-qui-sommes-nous.jpg) 50% 50% no-repeat; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; }



.bredcrumb                                                  { padding: 16px 0;border-bottom: 1px solid #cccccc;}

.bredcrumb span                                             { font:normal 20px/20px persp-b;display: inline-block;vertical-align: middle; }

.bredcrumb ul,.bredcrumb li                                { display: inline-block;vertical-align: middle; }

.bredcrumb ul                                               { padding-left: 27px;padding-top: 2px; }

.bredcrumb li a                                             { color: #333333;text-transform: uppercase;}

.bredcrumb li:first-child                                   { } 

.bredcrumb li:first-child:after                             { content: '';display: inline-block;padding: 0 17px;background: url(../images/icon-bread.png)center no-repeat;width: 5px;height: 10px; } 

.bredcrumb li.active a                                      {color: #c2322d;font-family: persp-b}                           





/* MENU */

.wrapMenuMobile                                           { display:none ;}

.menu                                                     { display:block; position:relative; z-index:60; padding-top:61px; padding-left: 47px;float: right;z-index: 50}  

.menu>ul                                                  { width:100%;  display:block; position:relative; text-align:center;  font-size:0; line-height:0; }  

.menu li                                                  { display:inline-block; position:relative; margin-right:41px;} 

.menu li:last-child                                       { margin-right: 0 }

.menu a                                                   { width:auto; height:60px; font:normal 14px/14px persp-r;  color:#ffffff; display:block; padding:0; position:relative;text-transform: uppercase;}

.menu a:after                                             { content: ""; border-bottom:#ffffff solid 4px ; display: block; width:0; margin-top: 18px }

.menu>ul>li.active>a:after                                { width: 100% }

.menu li.logo-mob                                         { display: none }

.menuMobile span.mob                                      { display: none }



.menu .sub-menu                                           { padding: 0; top: 49px; width: 275px; left: -100px }

.menu .sub-menu li                                        { margin: 0 }

.menu .sub-menu a                                         { color: #fff; background-color: #a72b2b; padding: 10px 25px;  }

.navSticky .menu .sub-menu                                { top:43px; }



.blcMenu                                                  { position: relative; }

.blcMenu .logo                                            { display: inline-block;position: absolute;left: 0;z-index: 100; }

.blcMenu .logo:before                                     { content: '';position: absolute;width: 351px;height: 381px; background:url(../images/deco-logo-2.png) 50% 50%;left: -61px;z-index: -1; top: -26px;opacity: 0.5 }



/* SUB */

.sub                                                      { width:265px; position:absolute; top:38px; left:50%; z-index:995; margin-left:-132px; display:block; background:#ffffff; visibility:hidden; opacity:0;border:1px solid #cdcdcd}

.sub li                                                   { width:100%; margin:0; border:none; padding:0; text-align:center;}

.sub li a                                                 { width:100%; height:52px; line-height:49px; position:relative; margin:0;color:#3f3d3e;text-transform:inherit;font-size:14px;padding: 0;border-bottom:1px solid #cdcdcd}

.sub li:last-child a                                      { border:none; }

.sub li a:before                                          { display:none;}

.sub li:last-child a                                      { border:0;}

.menu li:hover .sub                                       { opacity:1; visibility:visible; z-index:999;}

.menu .sub li.active a                                    { background:#529f44;color: #ffffff}

.sub li a:after                                           { display: none }

.sub li.active a                                          { background: #c2322d!important;color: #ffffff }





/* CONTENU */

.mahay                                                    { font:normal 14px/14px persp-r;text-transform: uppercase;color: #c3312d;letter-spacing: 0 }

.mahay b                                                  { font:normal 13px/14px dan-b!important;color: #169541;letter-spacing: 0}

.mahay-2                                                  { font:normal 24px/24px persp-r;text-transform: uppercase;color: #c3312d;letter-spacing: 0 }

.mahay-2 b                                                { font:normal 23px/14px dan-b;color: #169541;letter-spacing: 0}

.blcService                                               {text-align: center; background:#eeeeee;}

.blcService .wrapper                                      { max-width: 1234px; position: relative; }

.blcService .titre                                        { font:normal 20px/20px persp-b;padding: 34px 20px;background:#ffffff; color: #333333;display: block;  }

.blcService .item                                         { width: 33.33%;float: left;}

.blcService .item>div                                     { position: relative; }

.blcService .item img                                     { width: 100%;display: block; }

.blcService .item .hide                                   { background:#ffffff;padding:0 38px;position: absolute;width: 100%;height: 100%;top:0;left: 0;display: table;opacity: 0;-webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);min-height: 368px }

.blcService .item .hide .content                          { display: table-cell;vertical-align: middle; }

.blcService .item .hide span i                            { font-style: normal;color: #c3312d }

.blcService .item .hide .link                             { margin-top: 5px }

.blcService .item .hide .titre                            { padding: 0 20px 30px }

.blcService .listService                                  { position: relative;margin-top: -110px;position: relative;z-index: 999;padding:10px 7px 130px;width: 33.33%;float: left; }

.blcService .listService  .slick-next                     { position: absolute;bottom: 40px;left: 50%;margin-left: 8px }

.blcService .listService  .slick-prev                     { position: absolute;bottom: 40px;right: 50%;margin-right: 7px}  

.blcService #prevSlide,
.blcService #nextSlide                                    { position: absolute; top: 16%; margin-top: -6px; }

.blcService #prevSlide                                    { left: 0; margin-left: -22px; }

.blcService #nextSlide                                    { right: 0; margin-right: -22px; }

.blcService .ethique                                      { position:relative; z-index: 9999; border: 1px solid #cccccc; padding:21px 30px 21px 56px; font: normal 14px/14px persp-r, Arial; text-transform: uppercase; color: #333333; top: -65px; display: inline-block;  }

.blcService .ethique::after                               { content: ""; display: inline-block; background: url(../images/scrolltop.png) center no-repeat; width: 18px; height: 100%; position: absolute; top: 0; left: 27px; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); animation: movesEthique 1s infinite ease-in-out; }


.blcBienvenue .content                                    { max-width: 995px;padding: 60px 40px 80px;margin:auto; }

.blcBienvenue .titre                                      { font:normal 44px/44px dan;/*margin-bottom: 15px*/ ; margin-bottom: 20px;}

.blcBienvenue .s-titre                                    { font:normal 24px/24px persp-r;color: #c2322d;text-transform: uppercase; display: block; margin-top: 15px }
.blcBienvenue .titre  span                                { font:normal 24px/24px persp-r;color: #c2322d;text-transform: uppercase; display: block; margin-top: 15px  }


.blcBienvenue .s-titre span                               { text-transform: initial; }

.blcBienvenue .s-titre span i                             { color: #169541 }

.blcBienvenue .blcLink                                    {  margin-top: 35px;font-size: 0;text-align: center;}

.blcBienvenue .blcLink a                                  { margin: 0 15px }



.blcGalerie                                               { text-align: center; }

.blcGalerie .listGalerie                                  { position: relative; }

.blcGalerie .listGalerie img                              { width: 100%;display: block; }

.blcGalerie .slick-prev                                   { position: absolute;top: 50%;margin-top: -25px;left: 0; background-color: #ffffff;border:none;}

.blcGalerie .slick-next                                   { position: absolute;top: 50%;margin-top: -25px;right: 0;background-color: #ffffff;border:none;} 

.blcGalerie .listGalerie .item .content                   {  position: relative; }

.blcGalerie .listGalerie .item .content a                 { z-index: 999 }

.blcGalerie .listGalerie .item .content:after             {content:''; background: rgba(0,0,0,0.5);position: absolute;width: 100%;height: 100%;top: 0;right: 0;bottom: 0;left: 0;z-index: 5;opacity: 0; }

.blcGalerie .link                                         { margin-top: 60px }



.blcActu .content                                         { max-width: 1020px;padding: 98px 0 29px;margin: auto; }

.blcActu .titre                                           { margin-bottom: 44px;padding-left: 53px;font-size: 36px;float: left; }

.blcActu  .link                                           { float: right; position: relative;top: -20px;right: 50px;}

.blcActu .content .item                                   { padding: 0 54px }

.blcActu .content .s-titre                                { font:normal 20px/20px persp-r;color: #333333;margin-bottom: 29px;display: block; }

.blcActu .content .date                                   { font-size: 14px;min-width: 63px;border:1px solid #cccccc;text-align: center;padding: 14px 0;position: absolute;left: 0;top: 0}

.blcActu .content .date b                                 { font:normal 24px/24px persp-b;color: #c2322d;display: block;}

.blcActu .content .actu                                   { padding-left: 85px }

.blcActu .content .container                              { padding-bottom: 5px;border-bottom: 10px solid #169541;position: relative; }

.blcActu .listActu                                        { position: relative; }

.blcActu .listActu .slick-prev                            { position: absolute;top: 0;margin-top: -90px;right: 110px; background-color: #ffffff;}

.blcActu .listActu .slick-next                            { position: absolute;top: 0;margin-top: -90px;right: 45px;background-color: #ffffff;}



.blcTestimonial                                           { position: relative; }

.blcTestimonial .item                                     { padding-top: 80px; }

.blcTestimonial .item .bg                                 { background-size: cover; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; background-repeat: no-repeat; min-height: 310px; }

.blcTestimonial .item-1 .bg                               { min-height: 310px;background:url(../images/bg-testimonial-1.jpg) 50% 50% no-repeat; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;  width: 100%; }

.blcTestimonial .item-2  .bg                              { min-height: 310px;background:url(../images/bg-testimonial-2.jpg) 50% 50% no-repeat; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;  width: 100%; }

.blcTestimonial .content                                  { max-width: 586px;float: right;background:#eeeeee;padding:55px 51px 22px;position: relative;top: -80px}

.blcTestimonial .blcName                                  { font:normal 14px/24px persp-r;text-transform: uppercase;padding:0 0 25px 73px;background: url(../images/icon-quote.png)0px 9px no-repeat;}

.blcTestimonial .blcName span                             {display: block;}

.blcTestimonial .content p                                { line-height: 26px }

.blcTestimonial .blcName .name                            { text-transform: initial;font:normal 20px/24px persp-b; }

.blcTestimonial .blcText                                  { padding-left: 73px }

.blcTestimonial .wrapper                                  { position: relative; }

.blcTestimonial .wrapper .blcGuide                        { position: absolute;width: 123px;height: 194px;top: 50%;left: 40px;margin-top: -97px;background:url(../images/img-petit-fute.jpg) 50% 50% no-repeat }


.blcTestimonial .blcPetitFute                             { position: absolute;top: 50%;left: 0;right: 0;max-width: 1220px;margin: -32px auto 0;padding: 0 40px;}

.blcTestimonial .blcPetitFute .blcGuide                   { width: 123px;height: 194px;background:url(../images/img-petit-fute.jpg) 50% 50% no-repeat;display: block;position: relative;z-index: 9999 }

.blcTestimonial .blcPetitFute .blcGuide2                   { width: 203px;height: 194px;background:url(../images/Quotatrip.png) 50% 50% no-repeat;    display: block;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 193px;}

.blcTestimonial .slick-list                               { width:100%; height:100%;}

.blcTestimonial .slick-track                              { width:100%; height:100%;}

.blcTestimonial .blcTitre                                 { max-width: 1220px;margin: auto;position: relative;bottom: -65px;padding-left: 43px;z-index: 999 }

.blcTestimonial .titre                                    { display: inline-block;vertical-align: middle;padding-right: 70px }

.blcTestimonial .arrowTestimonial                         { display: inline-block;vertical-align: middle;}

.blcTestimonial .slick-prev,                             

.blcTestimonial .slick-next                               { border:none;position: relative; } 





/* PAGE QUI SOMMES NOUS */



.blcApropos                                              { padding: 67px 0 45px }

.blcApropos .titre                                       { font-size: 44px;line-height: 44px;margin-bottom: 14px; }

.blcApropos .s-titre                                     { font: normal 24px/24px persp-r;color: #c2322d;text-transform: uppercase;margin-bottom: 16px; }

.blcApropos .s-titre span i                              { color: #169541;font-family: dan;font-weight: bold; }

.blcTeam                                                {  max-width: 920px;margin:auto;position: relative;margin-bottom: 80px }

.blcTeam .link                                          { position: absolute;bottom: 0;right: 145px;z-index: 99999 }

.slideTeam .item                                        { position: relative;padding-bottom: 80px }

.slideTeam .title                                       { font:normal 20px/24px persp-b;margin-bottom: 28px;display: block; padding-right: 18%}

.slideTeam  .blcLeft                                    { position: absolute;bottom: 0;left: 0;max-width: 50%; }

.slideTeam  .blcRight                                   { float: right;max-width: 59%;position: relative;z-index: 50;line-height: 26px }

.slideTeam  .blcRight img                               { display: inline-block; }

.slideTeam .text                                        { background: #eeeeee;padding: 60px 80px 26px 84px; }

.slideTeam  .blcLeft img                                { width: 100%;object-fit: cover;height: 333px;display: block; }

.slideTeam .name                                        { font:normal 20px/20px persp-r;text-transform: uppercase;color: #169541;margin-bottom: 15px }

.slideTeam .slick-next                                  { position: absolute;bottom: 5px;right: 0 }

.slideTeam .slick-prev                                  { position: absolute;bottom: 5px;right: 65px }



.blcVoyage                                              { font: normal 24px/24px persp-r;text-transform: uppercase;text-align: center;margin-bottom: 55px }

.blcVoyage span                                         { color: #c2322d }

.blcVoyage span i                                       { color: #169541;font-family: dan;font-weight: bold; }



.blcSignification                                       { margin-bottom: 71px } 

.blcSignification .blcLeft                              { float: left;width: 53%;padding-top: 44px;font-size: 0 }

.blcSignification .blcRight                             { float: left;width: 47%;background: #eeeeee;padding: 54px 77px 20px;line-height: 26px }

.blcSignification .blcLeft .blcLogo                     {display: inline-block;vertical-align: top;width: 32%;}

.blcSignification .blcLeft .blcLogo img                 { width: 100%; }

.blcSignification .blcLeft .title                       { font: normal 20px/24px persp-b;margin-bottom: 27px }

.blcSignification .blcLeft .blcList                     { font: normal 14px/24px persp-r;display: inline-block;vertical-align: top;padding-left: 60px;width: 68%;}

.blcSignification .blcLeft .blcList li                  { padding-left: 22px; background:url(../images/puce-f.jpg)0 9px no-repeat;margin-bottom: 12px }

.blcSignification .blcLeft .blcList li span             { display: block; cursor: pointer;position: relative;}

.blcSignification .blcLeft .blcList li span:after       { content: '';position: absolute;bottom: -8px;width: 100%;height: 1px;background: #eeeeee;left: 0;opacity: 0 }

.blcSignification .blcLeft .blcList li.slick-current span    { font-weight: bold; }

.blcSignification .blcLeft .blcList li.slick-current span:after   { opacity: 1 }

.blcSignification .blcRight .s-titre                    { font: normal 20px/20px persp-b;color: #c3312d;text-transform: uppercase;margin-bottom: 23px }

.blcSignification .text                                 { margin-top: 50px }

.blcSignification .text p                               { margin-bottom: 14px }

.blcSignification .text b                                { font-family:persp-b  }

.blcSignification .blcRight ul                          { margin-top: 20px;padding-left: 20px;margin-bottom: 27px }

.blcSignification .blcRight li                          { background: url(../images/puce-actu.jpg)0 10px no-repeat;padding-left: 21px;margin-bottom: 8px; }

.blcSignification .blcRight li .rouge                   { color: #c3312d }

.blcSignification .blcRight li .vert                    { color: #169541 }





/* FIN PAGE QUI SOMMES NOUS */



/* PAGE CONTACT */

.page .banner.contact                                   { background: url(../images/banner-contact.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover; }

.textContact                                            { max-width: 1000px;padding: 73px 40px 0;margin:auto; }

.textContact .titre                                     { font-size: 44px;margin-bottom: 11px  }

.textContact .titre span                                { color: #c2322d;font-family:persp-r;text-transform: uppercase;font-size: 24px  }

.textContact .titre span i                              { color: #169541;font-family: dan;font-weight: bold; }





.blcFormulaire                                          { margin-top: 38px }

.blcFormulaire .container                               { margin-bottom: 60px }

.blcFormulaire .wrapper                                 { max-width: 1310px }

.blcFormulaire .blc-chp .chp                            { display: block;border-bottom: 1px solid #cccccc;position: relative;padding-top: 13px;height: 60px }

.blcFormulaire .blc-chp .chp.select                     { padding-top: 16px }

.blcFormulaire .blc-chp .chp.textarea                   { padding-top: 0;height: 120px }

.blcFormulaire .blc-chp.objet .chp                      { display: inline-block;padding-top: 0 }

.blcFormulaire .blc-chp.objet                           { text-align:center;margin-bottom: 23px; }

.blcFormulaire .blc-chp select                          { border: none;color: #333333;box-sizing: border-box;font: normal 14px/24px persp-r;color: #535353;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;appearance: none;outline: 0;cursor: pointer;text-overflow: ellipsis;padding: 9px 14px 9px; display: block;width: 100%;position: relative;z-index: 999;background: none;color: #000 }

.blcFormulaire .blc-chp .chp.select:after                { content: '';position: absolute;right: 15px;bottom: 16px;width: 10px;height: 5px;background: url(../images/select.png) center no-repeat; }

.blcFormulaire .blc-chp.objet select                     { font: normal 20px/20px persp-b;height: 42px;padding: 0 57px 0 10px;width: 320px}

.blcFormulaire .blc-chp .chp input                        {padding: 10px 14px 9px;position: relative;height: 45px;border:none;width: 100%;font: normal 14px/24px persp-r;color: #535353;}

.blcFormulaire .col                                   {width: 33.33%;float: left;padding: 0 45px}

.blcFormulaire .blc-chp .chp ::-webkit-input-placeholder               { opacity:1;color:#333333;}

.blcFormulaire .blc-chp .chp ::-moz-placeholder                        { opacity:1;color:#333333;}

.blcFormulaire .blc-chp .chp ::-ms-input-placeholder                   { opacity:1;color:#333333;}

.blcFormulaire .blc-chp .chp textarea                                  { height: 119px;padding: 27px 15px 27px 0;width: 100%;resize: none;border:none;font: normal 14px/24px persp-r;display: block; }

.blcFormulaire .btn-submit                                  { border:none; }

.blcFormulaire .container                                   { text-align: center; }

.blcFormulaire .blcButton                                   { margin-bottom: 143px }

.blcFormulaire .container .captcha                          { max-width: 302px;display: inline-block;vertical-align: middle;margin:0 15px;}

.blcFormulaire .container .boutton                          { display: inline-block;vertical-align: middle;margin:0 15px }

.blcContact                                                 { background: #eeeeee }

.blcContact .container                                      { max-width: 920px;margin:0 auto -2px;padding: 46px 0 39px;background: #ffffff;-webkit-box-shadow: 0px 0px 12px -7px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 12px -7px rgba(0,0,0,0.75);

box-shadow: 0px 0px 12px -7px rgba(0,0,0,0.75);position: relative;top: -82px }

.blcContact .container .col                                 { float: left;padding: 16px 20px 0}

.blcContact .container .col .coordonne span                 { font-size: 10px;text-transform: uppercase; }

.blcContact .container .col-1                               { padding: 0 48px 0 50px; }

.blcContact .container .col-1 a                             { display: block; }

.blcContact .blcPicto                                       { margin-bottom: 10px }

.blcContact .blcPicto span                                  { display: inline-block;vertical-align: middle; }

.blcContact .blcPicto .picto                                { width: 50px;height: 50px;border:1px solid #cccccc;position: relative;margin-right: 20px }

.blcContact .blcPicto .picto img                            { position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin:auto; }

.blcContact .blcPicto .title                                { font: normal 14px/24px persp-b;text-transform: uppercase; }

.blcContact a                                               { color: #333333 }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ border: 1px solid #c3312d;background: #c3312d;color: #ffffff;}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{

  border: 1px solid #169541;background: #169541;font-weight: normal;color: #fff;}

.blcFormulaire .blc-chp.objet .chp                               { height: auto; }





.blcFormulaire .blc-chp .date                               { position: relative; }

.blcFormulaire .blc-chp .date:after                         { content: '';width: 15px;height: 15px;background: url(../images/icon-calendar.png)center no-repeat;position: absolute;right: 14px;bottom: 16px;z-index: 0 }

.blcFormulaire .blc-chp label                               { position: absolute;left: 15px;bottom: 10px;z-index: 1;cursor: auto;display: block;width: auto;text-align: left;width: 80%}

.blcFormulaire .blc-chp label span                          { color: #c3312d }

.blcFormulaire .blc-chp .date .placeholder                  { width: 100%;left: 0;right: 0 }

.blcFormulaire .blc-chp .date input                         { z-index: 999;background:none; }

/*.blcFormulaire .blc-chp select span                        { color: #c3312d }

.blcFormulaire .blc-chp input:focus~label,

.blcFormulaire .blc-chp select:focus~label                   { display: none; }

.blcFormulaire .blc-chp .date input:blur~label                { display: none }*/



/*.style1.SW_SimpleMakeAppointment .form-control:focus ~ label {display: none;top: 0;}

.style1.SW_SimpleMakeAppointment .form-group label.fixe       { display: none }*/





/* FIN PAGE CONTACT */



/* ACTUALITE LISTE */

.page .banner.actuL                                   { background: url(../images/banner-actu-l.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover; }

.PageActuL .titre                                     { font-size: 44px;margin-bottom: 11px; }

.PageActuL .titre span                                { color: #c2322d;font-family: persp-r;text-transform: uppercase;font-size: 24px;display: block;margin-top: 19px }

.PageActuL .titre span i                              { color: #169541;font-family: dan;font-weight: bold; }

.PageActuL .blcIntro                                  { max-width: 920px;margin: auto;padding: 71px 0 39px }

.slideActu .s-titre                                   { font: normal 20px/20px persp-r;color: #333333;margin-bottom: 29px;display: block;}

.slideActu .actu                                      { padding-left: 85px;}

.slideActu .img-actu                                  { border-top: 10px solid #169541;position: relative; }

.slideActu .img-actu:after                            { content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5); opacity: 0}

.slideActu .img-actu .link                            { position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 175px;height: 60px;text-align: center;opacity: 0;z-index: 999 }

.slideActu .date                                      { font-size: 14px;min-width: 63px;border: 1px solid #cccccc;text-align: center;padding: 14px 0;position: absolute;left: 0;top: 0;}

.slideActu .container                                 { padding-bottom: 5px;position: relative}

.slideActu .date b                                    { font: normal 24px/24px persp-b;color: #c2322d;display: block;}

.slideActu .img-actu img                              { width: 100%;height: 200px;object-fit: cover;display: block; }

.listesActu.wrapper                                   { max-width: 1250px; }

.slideActu .item                                      { padding: 0 15px }

.slideActu .actu p                                    { margin-bottom: 28px }

.slideActu                                            { padding-bottom: 90px; position: relative;margin-bottom: 80px} 

.slideActu .slick-next                                { position: absolute;bottom: 0;right: 50%;margin-right: -58px }

.slideActu .slick-prev                                { position: absolute;bottom: 0;right: 50%;margin-right: 7px }





/* ACTUALITE DETAILS */

.pageActuD a                                          { color: #c2322d }

.page .banner.actuD                                   { background: url(../images/banner-actu-l.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover; }

.bredcrumb.actuD li:nth-child(2)::after               {content: '';display: inline-block;padding: 0 17px;background: url(../images/icon-bread.png)center no-repeat;width: 5px;height: 10px;}

.bredcrumb.actuD li:nth-child(2) a                    { letter-spacing: 0.5px }

.pageActuD .titre                                     { font: normal 24px/31px persp-r;color: #c2312c }

.pageActuD .contentActu                               { max-width: 1220px;margin:60px auto 72px; padding: 0 40px }

.pageActuD .blcTitre                                  { position: relative;padding: 9px 0 15px 85px;min-height: 80px;margin-bottom: 18px }

.pageActuD .date                                      { font-size: 14px;min-width: 63px;border: 1px solid #cccccc;text-align: center;padding: 16px 0;position: absolute;left: 0;top: 0; }

.pageActuD .date b                                    { font: normal 24px/24px persp-b;color: #c2322d;display: block;}

.pageActuD .blcLeft                                   { padding-right: 418px }

.pageActuD .blcVideo>video                            { width: 100%;display: block; }

.pageActuD .blcVideo                                  { margin-bottom: 25px;}

.pageActuD p                                          { line-height: 26px;margin-bottom: 25px }

.pageActuD p  img                                     { position: relative;top: 2px }

.pageActuD .blcLeft h2                                {  font: normal 20px/24px persp-r;margin-bottom: 5px }

.pageActuD .blcText ul                                { padding-left: 38px }

.pageActuD .blcText ul li                             { background: url(../images/puce-actu.jpg)0 8px no-repeat;padding-left: 21px;margin-bottom: 12px }

.pageActuD .contentActu                               { position: relative; }

.pageActuD .blcRight                                  { position: absolute;right: 40px;top:33px;width: 360px }

.pageActuD .blcRight .container                       { padding-bottom: 5px;border-bottom: 10px solid #169541;position: relative;}

.pageActuD .blcRight .actu                            { padding-left: 85px; }

.pageActuD .blcRight .titre                           { font:normal 36px/36px dan;color: #333333;margin-bottom: 38px }

.pageActuD .blcRight .actu .s-titre                   { font:normal 20px/20px persp-r;color: #333333;display: block;margin-bottom: 27px }

.pageActuD .blcRight .lastActu .item                  { margin-top: 39px }





/* CIRCUIT LISTE */

.page .banner.circuitL                                  { background: url(../images/banner-circuit-l.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover; }

.pageCircuitL                                           { margin-bottom: 40px }

.pageCircuitL .blcIntro                                 { max-width: 920px;margin: auto;padding: 75px 0 7px}

.pageCircuitL .wrapper                                  { max-width: 1250px }

.pageCircuitL .titre                                    { font-size: 44px;margin-bottom: 15px;}

.pageCircuitL .titre span                               { color: #c2322d;font-family: persp-r;text-transform: uppercase;font-size: 24px;margin-top: 19px; display: block;}

.pageCircuitL .titre span i                             {color: #169541;font-family: dan;font-weight: bold;}

.listeCircuit.border                                    { position: relative; }

.listeCircuit.border:before                             { content: '';height:1px;left:15px;right: 15px;bottom: 0;margin:auto;position: absolute;background: #cccccc }   

.listeCircuit .blcTitre                                 { padding-left: 84px;position: relative;min-height: 80px;margin-bottom: 30px }

.listeCircuit .jour                                     { border:1px solid #cccccc;width: 65px;height: 80px; font: normal 20px/24px persp-b;text-transform: uppercase;color: #169541;padding: 0 10px;text-align: center;position: absolute;top: 0;left: 0 }

.listeCircuit .jour span                                { display: block;padding: 6px 0 }

.listeCircuit .jour span em                             { font-style: normal;font-size: 17px; }

.listeCircuit .jour:after                               { content:'';position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background: #cccccc;width: 10px;height: 1px  }

.listeCircuit .s-titre                                  { font:normal 20px/23px persp-r;margin-bottom: 6px;display: block;color: #333333 }

.listeCircuit .left                                     {  font:normal 16px/20px persp-r;float: left;padding-top: 2px; }

.listeCircuit .left span                                { font:normal 36px/36px persp-b;color: #c2322d }

.listeCircuit .left sup                                 { font-size: 20px }

.listeCircuit .link                                     { float: right; }

.listeCircuit .item                                     { width: 33.33%;padding: 32px 15px 40px ; float: left;}

.listeCircuit .item .content                            { padding-bottom: 47px;border-bottom:10px solid #169541 }

.listeCircuit .item .img img                            { width: 100%;height: 200px;object-fit: cover;display: block; }

.listeCircuit .item .img                                { position: relative; }

.listeCircuit .item .img:after                          { content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);opacity: 0; }





/* CIRCUITS DETAILS */

.pageCircuitD                                           { margin: 76px 0 }

.pageCircuitD .blcIntro                                 { max-width: 1000px;padding: 0 40px;margin: auto; }

.pageCircuitD .titre                                    { font:normal 24px/28px persp-r;color: #c3312d;text-transform: uppercase;margin-bottom: 18px }

.pageCircuitD .circuitInfo                              { max-width: 1000px;padding: 0 40px;margin:77px auto 74px;position: relative; }

.pageCircuitD .circuitInfo .blcTarif                    { font: normal 16px/20px persp-r;margin-bottom: 26px }     

.pageCircuitD .circuitInfo .blcTarif  span              {  font: normal 36px/20px persp-b;color: #c2322d;}  

.pageCircuitD .circuitInfo .blcTarif  span sup          { font-size: 20px }   

.pageCircuitD .circuitInfo .blcLeft                     { position: absolute;bottom: 0;left: 0;max-width: 50%; } 

.pageCircuitD .circuitInfo  .blcRight                   { float: right;max-width: 59%;position: relative;z-index: 50;line-height: 26px;  }   

.pageCircuitD .circuitInfo .item                        { position: relative;min-height: 400px;padding-bottom: 80px; } 

.pageCircuitD .circuitInfo .blcLeft img                 { width: 100%;object-fit: cover;height: 333px;display: block; }

.pageCircuitD .circuitInfo .item .text                  { background: #eeeeee;padding: 71px 80px 74px 84px; }

.pageCircuitD .circuitInfo .item .text b                { font: normal 14px/26px persp-b; }

.pageCircuitD .circuitInfo .item .text li               { background: url(../images/puce-actu.jpg)0 15px no-repeat;padding-left: 21px;line-height: 36px }

.pageCircuitD .circuitInfo .item .link                  { position: absolute;bottom: 0;right: 0;z-index: 99999; }

.pageCircuitD .circuitInfo .item .s-titre                 { font: normal 20px/24px persp-b;color: #169541;margin-bottom: 19px; } 

.pageCircuitD .circuitInfo .slick-next                  { position: absolute;left: 80px;bottom: 15px;background-color: #ffffff }

.pageCircuitD .circuitInfo .slick-prev                  { position: absolute;left: 15px;bottom: 15px;background-color: #ffffff }  

.pageCircuitD .textParcours                             { max-width: 1000px;padding: 0 40px;margin: 0 auto 57px; } 

.pageCircuitD .circuitInfo .img                         {  }



.slideCircuit                                           { max-width: 1250px;padding: 0 40px;margin: auto; }

#slideCircuit                                           { padding-bottom: 90px }

.slideCircuit .s-titre                                  { font: normal 20px/26px persp-b;color: #169541;margin-bottom: 13px }

.slideCircuit .jour                                     {border: 1px solid #cccccc;width: 65px;height: 80px;font: normal 16px/24px persp-b;text-transform: uppercase;color: #333333;padding: 0 10px;text-align: center;position: absolute;top: 0;left: 0;}

.slideCircuit .blcText                                  { padding-left: 84px;padding-bottom:21px;position: relative;min-height: 235px;border-bottom: 10px solid #169541 }

.slideCircuit .blcText p                                { line-height: 26px;margin-bottom: 9px }

.slideCircuit .blcText p:last-child                     { margin-bottom: 0 }

.slideCircuit .jour span                                { display: block;padding: 7px 0;}

.slideCircuit .jour span em                             { font-style: normal;font-size: 18px }

.slideCircuit .jour::after                              { content: '';position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;background: #cccccc;width: 10px;height: 1px;}

.slideCircuit .img img                                  { width: 100%;object-fit: cover;height: 200px; }

.slideCircuit .item                                     { padding: 0 15px }

/*.slideCircuit .slick-prev                               { position: absolute;bottom: 0;right: 50%;margin-right: 7px;}*/
.blcPartenaire .listPartenaire .slick-prev,
.slideCircuit .slick-prev,
.listeCircuit .slick-prev { position: absolute; top: 50%; left: 0; margin-top: -70px; margin-left: -55px;}

/*.slideCircuit .slick-next                               { position: absolute;bottom: 0;right: 50%;margin-right: -58px;}*/
.blcPartenaire .listPartenaire .slick-next,
.slideCircuit .slick-next,
.listeCircuit .slick-next { position: absolute; top: 50%; right: 0; margin-top: -70px; margin-right: -55px; }



/* MADAGASCAR */

.page .banner.mada                                      { background: url(../images/banner-mada.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover; }

.pageMada                                               { margin:74px 0 79px; }

.pageMada .titre                                        { font: normal 24px/26px persp-r;text-transform: uppercase; color: #c3312d;margin-bottom: 21px;text-align: center;}

.pageMada .blcIntro .titre                              { margin-bottom: 15px;font: normal 44px/30px dan;text-align: left; text-transform: initial;color: #333333}

.pageMada .blcIntro .titre span                         { color: #c2322d;font-family: persp-r;text-transform: uppercase;margin-top: 19px;}

.pageMada .blcIntro .titre span i                       { color: #169541; font-family: dan;font-weight: bold;}

.slideMada .title                                       { font: normal 20px/24px persp-b;display: block;;position: relative;top: 49px;padding-right: 59%;}

.slideMada .content-2 .title                            { text-align: right;padding-right: 0;padding-left: 59%; }

.slideMada .content-2                                   { margin-top: 80px }

.slideMada .slideFaune .blcLeft img,

.slideMada .slideFlore img                              { width: 100%; object-fit: cover;height: 333px;display: block;}

.slideMada .slideFaune .blcLeft                         { position: absolute;bottom: 0;left: 0;max-width: 50%;}

.slideMada                                              { max-width: 920px;margin:76px auto;margin-bottom: auto;position: relative;margin-bottom: 75px;}

.slideMada .slideFaune .blcRight                        { float: right;max-width: 59%;position: relative;z-index: 50;line-height: 26px;}

.slideMada .text                                        { background: #eeeeee;padding: 60px 80px 34px 84px;}

.slideMada .item                                        { min-height: 413px;padding-bottom: 80px }

.slideMada .slideFaune .slick-prev                      { position: absolute;right: 65px;bottom: 0 }

.slideMada .slideFaune .slick-next                      { position: absolute;right: 0;bottom: 0 }

.slideMada .slideFlore .blcLeft                         { position: absolute;bottom: 0;right: 0;max-width: 50%;}

.slideMada .slideFlore .blcRight                        { max-width: 59%;position: relative;z-index: 50;line-height: 26px;}

.slideMada .slideFlore .title                           { text-align: right; }

.slideMada .slideFlore .slick-prev                      { position: absolute;left: 0;bottom: 0 }

.slideMada .slideFlore .slick-next                      { position: absolute;left:65px;bottom: 0 }

.pageMada .s-titre                                      { font: normal 20px/26px persp-b;margin-bottom: 25px; }

.blcGeologie                                            { margin-bottom: 45px }

.blcrepereGeo                                           { padding-left: 59px }

.blcrepereGeo ul li                                     { background: url(../images/puce-actu.jpg)0 8px no-repeat;padding-left: 21px;margin-bottom: 12px; }

.pageMada .blcGalerie                                   { margin-top: 70px }



/* PARTENAIRES */

.page .banner.partenaires                               { background: url(../images/banner-partenaires.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover; }

.bredcrumb.partenaires li:nth-child(3)::after           { content: '';display: inline-block;padding: 0 17px;background: url(../images/icon-bread.png)center no-repeat;width: 5px;height: 10px;}

.pagePartenaires p                                      { line-height: 26px;margin-bottom: 26px }

.pagePartenaires .blcIntro                              { max-width: 920px;margin:75px auto 72px; }

.pagePartenaires .titre                                 { font: normal 24px/28px persp-r;color: #c3312d;text-transform: uppercase;margin-bottom: 18px; }

.slidePartenaires .blcLeft                              { position: absolute;bottom: 0;left: 0;max-width: 50%;}

.slidePartenaires img                                   { width: 100%;object-fit: cover;height: 333px;display: block; }

.slidePartenaires .blcRight                             { float: right;max-width: 59%;position: relative;z-index: 50;line-height: 26px;}

.slidePartenaires .item                                 {min-height: 413px;padding-bottom: 80px}

.slidePartenaires  .text                                { background: #eeeeee;padding: 41px 80px 17px 82px;min-height: 330px}

.pagePartenaires .blcSlide                              { position: relative;max-width: 920px;margin: 58px auto 74px; }

.pagePartenaires .blcSlide .title                       { font: normal 20px/26px persp-b;color: #169541;margin-bottom: 14px; }

.pagePartenaires .blcSlide .s-titre                     { position: relative;top: 49px; padding-right: 59% }

.slidePartenaires .slick-prev                           { position: absolute;right: 65px;bottom: 0; }

.slidePartenaires .slick-next                           { position: absolute;right: 0;bottom: 0; }

.textPartenaire .titre                                  { text-align: center; }

.textPartenaire                                         { margin-bottom: 76px }





/* TOURISME SOLIDAIRE */

.page .banner.tourisme                                  { background: url(../images/banner-tourisme.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover; }

.pageTourisme p                                         { line-height: 26px;margin-bottom: 25px }

.pageTourisme .blcIntro                                 { max-width: 920px;margin: 66px auto 72px;}

.pageTourisme .titre                                    { font: normal 44px/44px dan;margin-bottom: 11px; }

.pageTourisme .titre span                               { color: #c2322d;font-family: persp-r;text-transform: uppercase;font-size: 24px;}

.pageTourisme .blcPartenaire .blcText                   { max-width: 920px;margin:0 auto 50px; }

.pageTourisme .filtrePartenaire                         { max-width: 545px;margin: auto;text-align: center; }

.pageTourisme .filtrePartenaire li                      { float: left;width: 33.33%;padding:0 7px; }

.pageTourisme .filtrePartenaire span                       { color:#333333;font: normal 14px/18px persp-b;text-transform: uppercase;border:1px solid #cccccc;height: 60px;padding: 20px 15px;display: block;cursor: pointer; }

.pageTourisme .filtrePartenaire li.active span          { color: #169541;border-color: #169541 }

.listPartenaire .title                                  { font: normal 20px/24px persp-r;margin-bottom: 24px;display: block;color: #333333 }

.listPartenaire .item                                   { width: 33.33%;padding: 0 15px;float: left; }

.listPartenaire .item .text                             { border-bottom: 10px solid #169541;padding-bottom: 40px }

.listPartenaire .item .img img                          { width: 100%;height: 200px;object-fit: cover; }

.blcPartenaire                                          { max-width: 1250px;padding: 0 40px;margin: 66px auto 79px}

.blcPartenaire  .listPartenaire                         { margin-top: 55px;position: relative; }

.blcPartenaire  .listPartenaire .link                   { margin-top: 7px }

/*.blcPartenaire  .listPartenaire .slick-prev             { position: absolute;bottom: 0;right: 50%;margin-right: 7px}

.blcPartenaire  .listPartenaire .slick-next              { position: absolute;bottom: 0;right: 50%;margin-right: -58px;}*/

.blcPartenaire .sliderPartenaire                        { padding-bottom: 90px }

.tab_content                                            { position: relative;z-index: 999;background: #ffffff }

.sliderPartenaire .slick-track                          { margin: auto; }

.tab_content.hide                                       { position: absolute;top: 0;width: 100%;z-index: 0 }

.listPartenaire .img                                    { position: relative; }

.listPartenaire .img:after { content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);opacity: 0;}







/* FOOTER */

.footer                                                 { background:url(../images/bg-footer.jpg) 50% 50% no-repeat #c2312c; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover;  width: 100%;padding-top: 60px;color: #ffffff}

.footer .wrapper                                        { max-width: 1322px;position: relative; }

.footer .wrapper >div                                   { float: left; }

.footer-1 .logo-f                                       { display: block; }

.footer-2                                               { padding: 0 105px 0 121px;padding-top: 2px; }

.footer .titre                                          { font-size: 24px;padding-bottom: 15px }

.footer-3                                               { min-width: 360px }

.footer li                                              { padding-left: 22px;background:url(../images/puce-f.jpg)0 8px no-repeat;margin-bottom: 12px }

.footer li a                                            { color: #ffffff;position: relative; }

.footer li a:after                                      { content: '';background: #ffffff;width: 0;height: 1px;position: absolute;left: 0;bottom: 0 }

.footer-3 .list                                         { float: left; }

.footer-3 .list.list-1                                  { padding-right: 50px }

.footer .social                                         { font-size: 0;position: absolute;right: 40px;top: 0 }

.footer .social .fb                                     { background:url(../images/icon-fb.png) 50% 50% no-repeat;position: relative; }

.footer .social .fb:after                               { content: '' ;background:url(../images/icon-fb-on.png) 50% 50% no-repeat #ffffff;border:1px solid #ffffff;position: absolute;top: 0;left: 0;width: 100%; height: 100%;opacity: 0}

.footer .social .google                                 { background:url(../images/icon-google.png) 50% 50% no-repeat;position: relative; }

.footer .social .google:after                           { content: '' ;background:url(../images/icon-google-on.png) 50% 50% no-repeat #ffffff;border:1px solid #ffffff;position: absolute;top: 0;left: 0;width: 100%; height: 100%;opacity: 0} 

.footer .social .twitter                                { background:url(../images/icon-twitter.png) 50% 50% no-repeat;position: relative; }

.footer .social .twitter:after                           { content: '' ;background:url(../images/icon-twitter-on.png) 50% 50% no-repeat #ffffff;border:1px solid #ffffff;position: absolute;top: 0;left: 0;width: 100%; height: 100%;opacity: 0} 

.footer .social .scrollTop                                { background:url(../images/scrolltop.png) 50% 50% no-repeat #ffffff;border-color: #ffffff;position: relative; }

.footer .social .scrollTop:after                        { content: '' ;background:url(../images/scrolltop-on.png) 50% 50% no-repeat #c43531;border:1px solid #ffffff;position: absolute;top: -1px;left: -1px;width: 100%; height: 100%;opacity: 0 }

.footer .social a                                       { display: inline-block;width: 50px;height: 50px;border:1px solid #e1413b;margin:0 5px; }

.footer .social a:last-child                            { margin-right: 0 }

.footer .blcBottom                                      { max-width: 1244px;margin:40px auto 0;position: relative;border-top: 1px solid #e1413b;padding: 21px 0; }

.footer .blcBottom a                                    { color: #ffffff;position: relative; }

.footer .blcBottom a:after                              {  content: '';background: #ffffff;width: 0;height: 1px;position: absolute;left: 0;bottom: 0  }

.footer .blcBottom .blcMaki                             { position: absolute;right: 0;top:21px;background:url(../images/logo-maki.png) 0 4px no-repeat;padding-left: 30px  }







@media (min-width:1201px) {

  body a span, body a, .headerTop, .menu a:after, .btn-submit , .slick-prev ,.slick-next, .lst-voiture .item .hide , .lstCircuit .item .content::after, .listeReference li img ,.blcTeam .listTeam .item .txt,.blcGalerie a:after ,.blcTeam .listPost .item ,.lst-actu .col .inner .blc-img:after, .lst-actu .col .inner .blc-txt .title,.blcService .item .hide,.blcGalerie .listGalerie .item .content:after,.footer li a:after ,.footer .blcBottom a:after,.footer .social .fb:after,.footer .social .google:after,.footer .social .twitter:after,.footer .social .scrollTop:after,.img-actu,.sub,.slideActu .img-actu::after,.tab_content,.listPartenaire .img:after,.pageTourisme .filtrePartenaire li span,.listeCircuit .item .img:after{ -webkit-transition:all 400ms ease-in-out; -moz-transition:all 400ms ease-in-out; -ms-transition:all 400ms ease-in-out; transition:all 400ms ease-in-out;}

  a:hover { color:#c3312d; }

  .menu a:hover:after                                 { width: 100%; }

  .sub li a:hover                                     { background:#c3312d; }

  .menu a:hover                                       {color: #ffffff}

  .link:hover                                         { background-color: #a9201c;color: #ffffff }

  .blcService .item:hover .hide                       { opacity: 1 }

  .slick-next:hover:before                            { opacity: 1 }

  .slick-prev:hover:before                            { opacity: 1 }

.blcGalerie .listGalerie:hover .item .content:after   { opacity: 1 }

.blcGalerie .listGalerie .item .content:hover:after   { opacity: 0 }

.blcGalerie .listGalerie .item .content:hover a       { position: relative; }

.blcActu .content .item:hover .s-titre                { color: #169541 }

.footer li a:hover:after                              { width: 100%; }

.footer .blcBottom a:hover:after                      { width: 100%; }

.footer .social .fb:hover:after,

.footer .social .google:hover:after,

.footer .social .twitter:hover:after,

.footer .social .scrollTop:hover:after                { opacity: 1 }

.bredcrumb li a:hover                                 { color: #c2322d }

.slideActu .item:hover .s-titre                       { color: #169541 }

.slideActu .item:hover .img-actu .link                {opacity: 1 }

.pageActuD .blcRight .actu:hover .s-titre             { color: #169541 }

.listeCircuit .item:hover .s-titre                    { color: #169541 }

.slideActu .slick-list:hover .img-actu:after          { opacity: 1 }

.slideActu .item:hover .img-actu:after                { opacity: 0 }

.listPartenaire .slick-list:hover .img:after          { opacity: 1 }

.listPartenaire .item:hover .img:after                { opacity: 0 }

.listPartenaire .item:hover .title                    { color: #169541 } 

.pageTourisme .filtrePartenaire li span:hover         { color:#169541;border-color: #169541  }

.blcCoord .tel a:hover                                { color: #c3312d }

.listeCircuit .item.mask .img:after                     {  content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);opacity: 1;}







}





/* RESPONSIVE */
@media (max-width:1300px) {
  .blcPartenaire .listPartenaire .slick-prev,
  .slideCircuit .slick-prev,
  .listeCircuit  .slick-prev{ position: absolute; top: auto; bottom: 0; left: auto; right: 50%;margin-right: 7px; margin-top: 0}
  .blcPartenaire .listPartenaire .slick-next,
  .slideCircuit .slick-next,
  .listeCircuit .slick-next{ position: absolute; top: auto; bottom: 0;right: 50%;margin-right: -58px; margin-top: 0}
  .listeCircuit { padding-bottom: 60px; margin-bottom: 60px; }
}
@media (max-width:1279px) {
  .blcService #prevSlide, .blcService #nextSlide {
      position: relative;
      bottom: 90px;
      margin-top: 0;
      display: inline-block !important;
      margin: 0 auto;
      left: 0;
      z-index: 9999;
  }
  .blcService .ethique{
    top: -65px;
    display: block;
    max-width: 205px;
    margin: 0 auto;
  }
}
@media (max-width:1200px) {


.menu .sub li.active a                                    { background:#529f44;color: #ffffff!important}

.menu .sub a                                                { color: #3f3d3e!important }

.wrapMenuMobile                                             { width:auto; height:45px; display:block; z-index:80; transition:all 400ms ease-in-out;  cursor:pointer;  text-transform:uppercase; position:absolute; left:40px; top:0;}

.menuMobile                                                 { width:45px; display:block; height:45px; cursor:pointer; position:relative; line-height:20px;padding: 15px 0 0 50px;color: #ffffff}

.menuMobile>div                                             { width:25px; height:2px; background:#ffffff; position:absolute; left:0;right:0;margin:auto; top:50%; margin-top:-1px;}

.menuMobile>div:before                                      { width:100%; height:2px; background:#ffffff; position:absolute; right:0; top:8px; content:"";}

.menuMobile>div:after                                       { width:100%; height:2px; background:#ffffff; position:absolute; right:0; top:-8px; content:"";}

.menuMobile.active>div                                      { height:0px;}

.menuMobile.active > div::before                            { top: 0;transform: rotate(45deg);}

.menuMobile.active > div::after                             { top: 0;transform: rotate(-45deg);}

.menu                                                       { max-width:100%;right:0; float: none;padding-top: 35px }

.menu a::after                                              { display: none }


.menu>ul                                                    { width:100%; height:auto; position:absolute; left:0; top:0; padding:0; background:#fff; display:none; z-index:999;}

.menu ul li                                                 { width:100%; margin:0 auto; display:block; float:none; padding:0;}

.menu li a                                                  { height:53px; line-height:54px; border:0; padding:0 40px; margin:0; text-align:left; border-bottom:1px solid #cecece;color: #3f3d3e;text-transform: initial; position: relative;}

.menu .menu-item-has-children > a::after{ content:""; display:block; background: url(../images/arrow-down.png)center no-repeat;     width: 15px;
    height: 18px;
    position: absolute;
    right: 40px; top:0;transition: all 400ms ease-in; -webkit-transition: all 400ms ease-in; -moz-transition: all 400ms ease-in}
    
    .menu .menu-item-has-children > a.dropdown::after { transform:rotateX(180deg); -webkit-transform:rotateX(180deg); -moz-transform:rotateX(180deg) }

.menu>ul:after                                              { content: ""; width: 100%; height: 9999px; background: rgba(0,0,0,.6); position: absolute; left: 0; bottom: -9999px; z-index: -1;}

.menu a:before                                              { display:none;}

.menu i                                                     { display:block; width:100%; height:53px; position:absolute; right:0; top:0;}

.menu i::before                                             { display: block;width: 2px;height: 22px;position: absolute;right: 50px;top: 50%;margin-top: -11px;content: "";background: #c3312d;}

.menu i::after                                              { display: block;width: 22px;height: 2px;position: absolute;right: 40px;top: 50%;margin-top: -1px;content: "";background: #c3312d;}

.menu i.active:before                                       { display: none }

.menu .vueMobile                                            { display:block;}

.menu .sub                                                  { display:none; visibility:visible; width:100%; position:relative; left:auto; top:auto; margin:0; opacity:1; padding:0;border:none;}

.menu .sub li a                                             { color:#fff; text-align:left; padding:0 40px;}

.menu ul> li.active a                                           {  color:#c3312d;}

#header .wrapper                                            { padding: 0 }

.blcMenu .logo                                              { position: initial }

.blcMenu                                                    { text-align: center; }

.blcMenu .logo:before                                       { left: 0;right: 0;margin: auto; }

#slider .textBanner .content                                { padding-top: 280px }

.listService.z-index                                        { z-index: 0 }

.blcService .item .hide                                     { display: none }



.blcTestimonial .blcTitre                                   { bottom: 0 }

.blcTestimonial .content                                    { top: -40px }

.blcTestimonial .item                                       {padding-top: 60px;}

.blcActu .content                                           { padding-bottom: 50px }

.blcGalerie .listGalerie .item .content::after              { display: none }



.footer .wrapper                                            { padding: 0 } 

.footer                                                     { padding: 40px 40px 10px } 

.footer-2                                                   { padding: 0 50px }  

.footer .social                                             { right: 0 }   

.footer-3 .list                                             { float: none } 

.footer .blcBottom                                          { margin-top: 20px } 



.bredcrumb                                                { padding: 16px 40px }

.blcSignification .blcLeft .blcList                       { padding:0 25px } 

.slideActu .item                                          { padding: 0 10px } 

.pageActuD .blcLeft                                       { padding-right: 400px } 

.listeCircuit .item                                         { width: 50% } 

.listeCircuit .item .img img                                {height: 250px}  

.pageCircuitL .wrapper                                      { padding: 0 25px } 

.pageCircuitL .blcIntro                                   { padding: 40px 40px 7px }  

.pageCircuitL .titre span                                 { display: block; }  

.listeCircuit .item                                       { padding-bottom: 25px;padding-top: 27px }  

.pageCircuitD                                             { margin: 50px 0 }  

.pageCircuitD .circuitInfo                                { margin: 50px auto }    

.blcMenu .logo::before                                    { display: none }                



  



}



@media (max-width:1024px) {

  .blcTestimonial .wrapper .blcGuide                        { display: none }

  .textContact                                              { padding: 50px 40px 0; }

  .blcFormulaire .col                                       { padding: 0 20px }

  .blcFormulaire .wrapper                                   { padding: 0 20px }

  .blcFormulaire .blc-chp select                            { padding-right: 25px }

  .blcContact .container                                    { top: 0 }

  .blcFormulaire .blcButton                                 { margin-bottom: 0 }

  .PageActuL .blcIntro                                        { padding: 50px 40px 10px}

  .pageActuD .blcRight                                      { display: none;}

  .pageActuD .blcLeft                                       { padding-right: 0}

  .bredcrumb.actuD span                                     { display: block;margin-bottom: 10px}

  .bredcrumb.actuD ul                                       { padding-left: 0}

  .pageActuD .contentActu                                   { margin: 40px 0}

  .pageActuD .blcTitre                                      { margin-bottom: 40px}

  .listeCircuit .blcTitre                                   { min-height: 100px }

  .listeCircuit .blcTitre                                   { margin-bottom: 15px}

  .listeCircuit .item .content                              { padding-bottom: 30px }

  .pageMada,

  .pagePartenaires .blcIntro                                { margin:50px 0 50px;}

  .slideMada                                                { margin:50px auto;}

  .slideMada .content-2                                     { margin-top: 50px }

  .pageMada .blcGalerie                                     { margin-top: 50px}

  .pageMada .blcIntro .titre                                { line-height: 50px}

  .pagePartenaires .blcSlide                                { margin: 50px auto; }

  .textPartenaire                                           { margin-bottom: 50px}

  .pageTourisme .blcIntro                                   { margin: 50px auto}

  .blcPartenaire                                            { margin:50px auto;}

  .blcPartenaire .listPartenaire                            { margin-top: 50px }



   

}



@media (max-width:980px) {

.blcService .listService                                    { width: 50%; }

#listService-3                                              { display: none }

.blcService .listService .slick-prev                        { left: -57px;right: inherit; }

.blcService .listService .slick-next                        { left:0;right: inherit; }

}

@media (max-width:950px) and (min-width:901px){
    .blcTestimonial .content{
    max-width:528px;
    padding: 55px 28px 22px;
    }
}

@media (max-width:900px) {

  .footer                                                 { padding: 51px 40px 10px; }

  .footer .wrapper >div                                    { float: none }

  .footer-1 .logo-f                                         { max-width: 110px;margin: auto; }

  .footer .titre                                            { display: none }

  .footer li                                                { background: none;padding: 0;display: block;text-align: center;margin-bottom: 14px }

  .footer-3                                                 { display: none; }

  .footer li a                                              { display:inline-block;height: 50px;line-height: 45px;border:1px solid #e24540;padding: 0 15px;min-width: 230px }

  .footer .social                                           { position: inherit;max-width: 230px;margin: auto; }

  .footer .social a:first-child                              { margin-left: 0 }

  .footer .blcBottom                                        { border:none;text-align: center;margin-top: 0;padding-top: 0 }

  .footer .blcBottom .blcMention                            { display: none } 

  .footer .blcBottom .blcMaki                               { position: inherit;display: inline-block;top: inherit;margin-top: 10px }

  .footer-2                                                 { padding: 0 ;margin-top: 13px}

  .footer-2 li                                              { margin-bottom: 23px }

  .slideTeam .text                                          { padding: 30px 25px 5px 25px; }

  .blcSignification .blcRight                               { padding: 35px 25px 5px; }

  .blcApropos                                               { padding: 40px 0 5px; }

  .blcTeam                                                  { margin-bottom: 40px }

  .blcVoyage                                                { margin-bottom: 40px;font-size: 18px }

  .blcVoyage .mahay-2                                                { font-size: 18px }

  .blcVoyage .mahay-2 b                                              { font-size: 17px }

  .blcSignification .text                                   { margin-top: 40px }

  .blcSignification                                         { margin-bottom: 40px }

  .blcContact .container .col                               { width: 33.33%; }

  .blcContact .container .col-1                             { float: none;width: 100%;text-align: center;padding: 0 0 30px 0 }

  .blcContact .container                                    { padding: 40px 20px}

  .pageCircuitD .circuitInfo .item .text                    { padding: 30px 20px }

  .pageCircuitD .circuitInfo .blcLeft img                   { height: 300px }

  .pageCircuitD .circuitInfo .blcLeft                       { max-width: 60% }

  .pageCircuitD .circuitInfo .blcRight                      { max-width: 60% }

  .slideCircuit .img img                                    { height: 300px }

  .slideCircuit .blcText                                    { min-height: inherit; }

  .slideMada .text                                          { padding: 30px 25px 5px}

  .slidePartenaires .text                                   { padding: 30px 25px 5px }

    .blcTestimonial .blcPetitFute                             { display: none}



}



@media (max-width:768px) {

  .blcCoord .tel span                                       { display: none }

  #slider .textBanner .content .title,

  #slider .textBanner .text,

   #slider .textBanner .contact                             {  display: none }

   #slider                                                  { height: 560px;min-height: inherit; }

   #slider .textBanner .content                             {     position: absolute; bottom: 50px;right: 0;left: 0; }

   .blcService #prevSlide, .blcService #nextSlide           { display: none !important; }

   .blcService .ethique                                     { top: -19px; margin-bottom: 10px }

  .blcService .item .hide                                   { opacity: 1;position: inherit;min-height: inherit;padding: 50px 40px;box-shadow: none;display: block; }

  .blcService .titre,                                        

  .blcService .blcImg                                       { display: none }

  .blcService .content .titre                               { display: block; }

  .blcService .listService                                  { margin-top: 0 }

  .blcService .wrapper                                      { padding: 0 }

  .blcService .item                                         { padding: 0;box-shadow:inherit; }

  .blcService .item .hide .titre                            { padding-top: 0 }

  .blcBienvenue .content                                    { padding: 50px 40px }

  .blcGalerie .link                                         { margin-top: 50px }

  .blcService .ethique                                      { display: inline-block !important; }

  .blcTestimonial .item-1 .bg                               { background: none }

  .blcTestimonial .wrapper                                  { padding: 0 }

  .blcTestimonial .content                                  { max-width: 100%;position: inherit;top: inherit;padding-bottom: 140px }

  .blcTestimonial .titre                                    { display: none }

  .blcTestimonial .item                                     { padding-top: 0 }

  .blcTestimonial .slick-prev                               { border: 1px solid #cccccc;margin-right: 7px}

   .blcTestimonial .slick-next                              { border: 1px solid #cccccc;margin-left:  8px }

   .blcTestimonial .blcTitre                                { position: absolute;bottom: 40px;width: 115px;margin:auto;left:  0;right: 0;padding-left: 0}

   .blcTestimonial                                          { position: relative; } 

   .slideTeam .blcLeft                                      { position: inherit;width: 100%;max-width: 100%; }  

   .slideTeam .blcRight                                     { max-width: 100%; } 

   .blcSignification .blcLeft                               { float: none;width: 100%;padding-top: 0 }

   .blcSignification .blcLeft .blcList                      { padding: 0 0 0 40px }

   .blcSignification .blcRight                              { float: none;width: 100%;margin-top: 30px }

   .blcFormulaire .col                                      { width: 100%; }

   .blcFormulaire .blc-chp.objet                            { margin-bottom: 0 }

   .blcFormulaire .container                                { margin-bottom: 40px }

   .blcContact .container .col                              { width: 100%;padding: 25px 20px 0;max-width: 250px;margin:auto;float: none; }

   .blcContact .container .col-1                            { padding: 0 20px 0 }

   .slideActu .img-actu img                                 { height: auto;object-fit: inherit; }

   .listeCircuit .item                                      {width: 100%;padding-top: 0;height: auto!important;padding-bottom: 40px}

   .listeCircuit .blcTitre                                  { min-height: 80px;margin-bottom: 30px }

   .listeCircuit.border::before                             { display: none }

   .pageCircuitL                                            { margin-bottom: 0 }

   .pageCircuitD .circuitInfo .blcLeft                      { position: inherit;width: 100%;max-width: 100% }

   .pageCircuitD .circuitInfo .blcRight                     { max-width: 100%; width: 100%}

   .pageCircuitD .circuitInfo .blcLeft img                  { height: 250px }

   .slideMada .slideFaune .blcLeft,

   .slideMada .slideFlore .blcLeft,

   .slidePartenaires .blcLeft                               { position: inherit;max-width: 100%;width: 100% }

   .slideMada .slideFaune .blcRight,

   .slideMada .slideFlore .blcRight,

   .slidePartenaires .blcRight                              { max-width: 100%;float:none; }

   .blcrepereGeo                                            { padding-left: 0 } 

   .slideMada .slideFlore .title                            { text-align: left; }  

   .pagePartenaires .blcSlide .s-titre                      { top: 0;margin-bottom: 30px;padding:0; }  

   .listPartenaire .item .img img                           { height: 250px } 

   .listPartenaire .item                                    { padding: 0 } 

   .slideMada .title,

   .slideMada .content-2 .title                             { top: 0;margin-bottom: 30px;padding: 0; text-align: left;}

   #listService-2                                           { display: none } 

   #listService                                             { width: 100%; }

   .blcService .listService .slick-next                     { position: absolute;bottom: 40px;left: 50%;margin-left: 8px;}

   .blcService .listService .slick-prev                     { position: absolute;bottom: 40px;right: 50%;margin-right: 7px;left: inherit;}

   .blcService .item .hide .content                         { display: block; }

   .blcService .listService                                 { padding-left: 0;padding-right: 0;padding-top: 0 }





  

}



@media (max-width:600px) {

  .blcMenu .logo::before                                    { display: none; }
  .page-template-page-home.page .menu {padding-top: 45px;}

  .menu i::before                                           { right: 30px }

  .menu i::after                                            { right: 20px }

  .menu .sub li a                                           { padding: 0 20px }

  .blcMenu .logo::before                                    { top: 23px;width: 100%; }

  #slider .banner1                                          { background: url(../images/banner-1-mob.jpg) 50% 50% no-repeat;background-size: auto;-webkit-background-size: cover;

-moz-background-size: cover;background-size: cover; }

  .menu li a                                                { padding: 0 20px }

  .blcCoord                                                 { padding: 0;position: relative;font-size: 0;background: none}

  .blcCoord > div                                           {vertical-align: middle;}

  .blcCoord .language:after                                 { display: none}

  .blcCoord .language li a                                  { font-size: 0}

  .blcCoord .language li                                    { width: 48px;padding: 0;background-position-x:center!important;}

  .wrapMenuMobile                                           { left: 7px }

  .blcCoord .tel                                            { padding: 0 12px 0 40px;height: 50px;background-color: rgba(255,255,255,0.25);margin-right: 1px;background-position-x:20px }

  .blcCoord .language                                       { background-color: rgba(255,255,255,0.25); }

  .blcCoord .language li.fr                                 { height: 50px }

  .blcCoord .tel a                                          { line-height: 50px }

.menu .menu-item-has-children > a::after                    { right:20px; }

  .menuMobile > div                                         { margin-top: 1px }

  .menu                                                     { padding-top: 62px }

  .blcService .item .hide                                   { padding: 42px 20px 40px}

  .blcService p                                             { line-height: 25px }

  .blcBienvenue .titre                                      { font: normal 30px/40px dan; }

  .blcBienvenue .content                                    { padding: 35px 20px 20px;text-align: center; }

  .blcBienvenue p                                           { display: none }

  .blcBienvenue .blcLink a                                  { display: block;width: 200px;margin:0 auto 15px; }

  .blcBienvenue .blcLink                                    { margin-top: 30px }

  .blcGalerie .wrapper                                      { padding: 0 }

  .blcGalerie .listGalerie                                  { height: 280px }

  .blcGalerie .listGalerie .item .content img               { width: 100%;height: 280px;object-fit: cover; }

    .blcGalerie .listGalerie .item-2 .content-2             { display: none }

    .blcGalerie .link                                       { margin-top: 0;display: block; }

    .blcActu .content .date                                 { position: inherit;display: inline-block;padding: 0 15px;height: 40px;line-height: 40px }

    .blcActu .link                                          { display: none }

    .blcActu .content .actu                                 { padding-left: 0 }

    .blcActu .content .item                                 { padding: 0 20px }

    .blcActu .content .date b                               { display: inline-block;font-size: 18px }

    .blcActu .content                                       { padding: 41px 0 40px; }

    .blcActu .titre                                         { padding: 0 20px;margin-bottom: 32px;font-size: 30px }

    .blcActu .listActu .slick-prev                          { top: -10px;margin-top: 0;right: 85px; }

    .blcActu .listActu .slick-next                          { top: -10px;margin-top: 0;right: 20px; }

    .blcActu .content .s-titre                              { margin: 24px 0 17px }

    .blcTestimonial .content                                { padding: 40px 20px 100px}

    .blcTestimonial .blcName                                { padding: 0 0 25px 51px;background-position-y:3px  }

    .blcTestimonial .blcText                                { padding-left: 0 }

    .footer                                                 { background-image: none }

    .bredcrumb                                              { padding: 16px 20px }

    .bredcrumb ul                                           { padding-left: 0;padding-top: 10px }

    .pageAboutUs .wrapper                                   { padding: 0 20px }

    .blcApropos .titre                                      { font-size: 30px; }

    .blcApropos .s-titre                                    { font-size: 18px }   

    .blcTeam .link                                          { position: inherit;right: inherit; }  

    .slideTeam .slick-prev                                  { right: inherit;left: 0 }

    .slideTeam .slick-next                                  { right: inherit;left: 65px }

    .blcTeam .link                                          { margin-top: 15px }

    .blcVoyage                                              { font: normal 14px/20px persp-r; }

    .slideTeam .blcLeft img                                 { height: 250px } 

    .blcSignification .blcLeft .blcLogo                     { display: block;width: 100%; }   

    .blcSignification .blcLeft .blcLogo img                 { width: auto;margin:auto;display: block; }   

    .blcSignification .blcLeft .blcList                     { width: 100%;padding: 0;margin-top: 40px }

   .page .menu                                              { padding-top: 79px }

   .textContact                                             { padding: 40px 20px 0 }

   .blcFormulaire .blc-chp.objet select                     { width: inherit;display: block;max-width: 280px }

   .blcFormulaire .wrapper                                  { padding:  0}

   .blcFormulaire .container .boutton                       { margin:25px auto 0;display: block; }

   .blcFormulaire .container .captcha                       {display: block;margin: 0 auto}

   .textContact .titre                                      { font-size: 30px }

   .page .banner.contact                                    { background: url(../images/banner-contact-mob.jpg) 50% 50% no-repeat; }

   .slideActu .date                                         { position: inherit;display: inline-block;padding: 0 15px;height: 40px;line-height: 40px;}

   .slideActu .date b                                       { display: inline-block;font-size: 18px; }

   .slideActu .s-titre                                      { margin: 24px 0 17px }

   .slideActu .actu                                         { padding-left: 0 }

   .listesActu.wrapper                                      { padding: 0 10px }

   .PageActuL .blcIntro                                     { padding: 40px 20px 10px }

   .slideActu                                               { margin-bottom: 40px }

   .PageActuL .titre                                        { font-size: 30px }

   .PageActuL .titre span                                   { font-size: 18px;margin-top: 10px }

   .slideActu .container                                    { padding-top: 0 }

    .pageActuD .contentActu                                 { padding: 0 20px }

    .pageActuD .date                                        { position: inherit;display: inline-block;padding: 0 15px;height: 40px;line-height: 40px;margin-bottom: 20px}

    .pageActuD .date b                                      {display: inline-block;font-size: 18px;}

    .pageActuD .blcTitre                                    { padding: 0 }

    .pageActuD .titre                                       {font: normal 20px/26px persp-r;}

    .pageActuD  .blcVideo>iframe                            { height: 300px }

    .pageActuD .blcText ul                                  { padding-left: 0 }

    .pageCircuitL .blcIntro                                 { padding: 40px 20px 7px }

    .pageCircuitL .titre                                    { font-size: 30px }

    .pageCircuitL .titre span                               { font-size: 20px;margin-top: 10px }

    .listeCircuit .item                                     { padding: 0 0 40px; }

    .pageCircuitL .wrapper                                  { padding: 0 20px }

    .listeCircuit .s-titre                                  { font: normal 16px/20px persp-r; }

    .listeCircuit .link                                     { float:none; }

    .listeCircuit .blcTitre                                 { margin-bottom: 20px }

    .listeCircuit .left                                     { float: none;margin-bottom: 20px }

    .listeCircuit .item .content                            { padding-bottom: 20px }

    .listeCircuit .item .img img                            { height: 200px }

    .pageCircuitD                                           { margin:40px 0; }

    .pageCircuitD .blcIntro                                 { padding: 0 20px }

    .pageCircuitD .circuitInfo                              { padding: 0 20px;margin: 40px auto 30px}

    .pageCircuitD .circuitInfo .item .link                  { position: inherit;margin-top: 15px }

    .pageCircuitD .textParcours                             { padding: 0 20px;margin:0 auto 40px; }

    .slideCircuit                                           { padding: 0 5px }

    .slideCircuit .blcText                                  { padding-left: 0 }

    .slideCircuit .jour                                     { position: inherit;height:auto;width: inherit;display: inline-block;padding: 0 ;margin-bottom: 15px}

    .slideCircuit .jour span                                { display: inline-block;padding: 8px 10px }

    .slideCircuit .img img                                  { height: 200px }

    .pageCircuitD .circuitInfo .item .text                  { padding: 30px 20px 25px; }                       

    #slideCircuit                                           { padding-bottom: 75px }

    .pageMada .wrapper,

    .pagePartenaires .wrapper                               { padding: 0 20px }

    .pageMada .blcIntro .titre                              { font-size: 30px }

    .pageMada,

    .slideMada                                              { margin:40px 0; }

    .slideMada .slideFaune .blcLeft img, 

    .slideMada .slideFlore img,

    .slidePartenaires img                                   {height: 250px;}

    .pageMada .blcGalerie                                  { margin-top: 40px }

    .pagePartenaires .blcIntro                            { margin: 40px 0 }

    .pagePartenaires .blcSlide                            { margin:40px auto; }

    .pagePartenaires .titre                               { font-size: 20px }

    .bredcrumb.partenaires li:after                       { padding: 0 5px }

    .pageTourisme .wrapper                                { padding: 0 20px }

    .pageTourisme .titre                                  { font: normal 28px/30px dan;  }

    .blcPartenaire                                        { margin: 40px 0;padding: 0 20px }

    .pageTourisme .filtrePartenaire li                    { width: 100%;margin-bottom: 20px }

    .blcPartenaire .listPartenaire                        { margin-top: 20px }

    .listPartenaire .item .img img                        { height: 200px }

    .blcBienvenue .s-titre                                { font-size: 18px }

    .mahay-2,

    .mahay-2 b                                            { font-size: 18px }

    .blcVoyage .mahay-2,

    .blcVoyage .mahay-2 b                                 { font-size: 14px }

    .slideMada .content-2                                 { margin-top: 40px }

    .blcFormulaire .blc-chp .date .placeholder            { left: 15px }

    .bredcrumb ul                                         { display: block; }

    .pageCircuitD .circuitInfo .item                      { padding-bottom: 0 }
                           



    

}
.banner-page:before{ background-color: rgba(0,0,0,0.1)!important;}











