@charset "UTF-8";
/*
    Theme Name: Mahay Expédition
    Theme URI: http://www.mahayexpedition.com
    Author: Maki Agency
    Author URI: http://maki-group.com
    Description: Voyage à Madagascar avec MahayExpédition vous permettra une immersion au plus proche de la population, mais aussi sur des trekkings uniques à Madagascar.
    Version: 1.0
 */
.banner-page{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.bredcrumb li.active {
    color: #c2322d;
    font-family: persp-b;
    text-transform: uppercase;
}
.bredcrumb li + li:after {
    content: '';
    display: inline-block;
    padding: 0 17px;
    background: url(./images/icon-bread.png)center no-repeat;
    width: 5px;
    height: 10px;
}
.bredcrumb li:last-child:after{
    display: none;
}
.blcVideo figure{
    margin: 0;
    border:0;
    padding: 0;
}
.blcVideo  img{
    display: block;
    max-width: 100%
}
.blcVideo iframe{
    width: 100%;
    height: 460px;
}
.page-content h1 > .mahay-2,
.pageCircuitD h1 > .mahay-2,
.pagePartenaires h1 > .mahay-2,
.pageAboutUs h1 > .mahay-2{
    display: none;
}
.blcActu .entry-content{
    padding: 0 53px 20px;
    text-align: center;
}
#footer .social a {
    text-indent: 1000px;
    overflow: hidden;
}
form label.error{
    display: none !important;
}
.blcFormulaire .blc-chp .chp.error{
    border-bottom-color: #c3312d
}
.form-response{
    display: none;
    margin: 15px 0 0;
    padding: 15px 45px;
}
.form-response p{
    margin: 0;
    padding: 5px 15px;
}
.form-response.success,
.form-response.error{
    display: block;
}
.form-response.success p{
    border: 1px solid #169541
}
.form-response.error p{
    border: 1px solid #c2322d
}
.processing .ajax-loader{
    visibility: visible;
}
.ajax-loader{
    visibility: hidden;
    display: inline-block;
    background-image: url(./images/ajax-loader.gif);
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
}
.archive-partenaire h1.titre{
    padding: 0 15px
}
.error404 .titre,
.error404 .blcIntro,
.search-no-results .titre,
.search-no-results .blcIntro{
    text-align: center !important;
}
.search-no-results .blcFormulaire{
    width: 60%;
    margin: 0 auto;
}
.search .blcPartenaire{
    margin-bottom: 30px
}
.search .slideActu {
    padding-bottom: 0;
    margin: 0 -15px
}
.search .slideActu .item {
    padding: 0 15px;
    float: left;
    width: 33.33%;
    margin: 0 0 40px;
}
.search .slideActu .s-titre{
    height: 40px    
}
.search .slideActu .actu p {
    height: 78px;
    overflow: hidden;
}
.slideTeam .text {
    min-height: 330px;
}
.menu-item-has-children > a{
    cursor: default;
}
.wrap-images .clr{
    margin: 0 -10px
}
.wrap-images .item {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 25px;
}
.wrap-images .item img {
    display: block;
    max-width: 100%;
}
.blcActu .mahay b,
.blcActu .mahay{
    font-size: 26px !important;
    line-height: inherit !important;
}
/*.linkDepart.link{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;*/
    /*padding-left: 60px;*/
    /*transform: rotate(-90deg);*/
/*right: -141px;*/
/*height: 60px;*/
/*top:-61px;*/
/*margin:auto;
padding: 20px 40px 0;
    font-size: 10px;
    line-height: 10px;
}*/
.linkDepart.link {
    position: absolute;
    left: 60px;
    bottom: 120px;
    z-index: 99999;
    /* padding-left: 60px; */
    /* transform: rotate(-90deg); */
    /* right: -141px; */
    height: 60px;
    /* top: -61px; */
    margin: auto;
    width: 140px;
    padding: 58px 0 0;
    font-size: 10px;
    line-height: 10px;
    height: 140px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.linkDepart.link.link_tourisme_durable{ 
    left: inherit;
    right: 60px;

}

.linkDepart.link span{
    display: block;
    text-align: center;
    position: relative;
}
.linkDepart.link span > span{
        font-size: 12px;
    line-height: 14px;
}
.blocSlider .wrapper{ position: relative;z-index: 9999999 }
.laureat{ display: block;position: absolute;left: 235px;top: 82px;z-index: 99;padding: 25px;background: #ffffff}
.laureat img{ width: 180px; display: block;}






.fancybox-container {
    z-index: 999939 !important;
}
.pageTourisme .titre span {
    display: block;
    margin-top: .8em;
}
/*.linkDepart.link span:after { content: '';width:15px;height: 18px;position:absolute;left: 25px;top: 50%;margin-top: -11px; background: url(images/arw-link-mob.png)center center no-repeat;animation: movesLink 1s infinite ease-in-out }*/
.linkDepart.link span:after { content: ''; width: 100%; height: 18px; position: absolute; left: 0; bottom: -24px; margin-top: 0; background: url(images/arw-link-mob.png)center center no-repeat; animation: movesLink 1s infinite ease-in-out; }
.linkDepart.link.link_tourisme_durable span::after { transform: rotate(180deg); }
.par_cols::after {
    display: table;
    content: "";
    clear: both;
}

.par_cols .col_left,
.par_cols .col_right{
    width: 50%;
    float: left;
}
@keyframes movesLink {

  0% {margin-left: 0;}

  50% {margin-left: 1px;}

  100% { margin-left: 0;}

}

@keyframes movesEthique {

  0% {top: 0;}

  25% {top: 1px;}
  50% {top: 2px;}
  75% {top: 1px;}

  100% { top: 0;}

}

.linkDepart:hover:after{ animation-play-state: paused; }

.blc-chp.cp {
    display: none;
}
.container .blc-chp.hide {
    display: none;
	opacity:1;
}

.slideCircuit .jour span {
    display: block;
    padding: 4px 0 !important;
}
.slideCircuit .jour span.jourTo{
    padding: 0 !important;
    text-transform: lowercase;
    line-height: 1;
    font-size: 14px;
    color: #169541;
    font-family: persp-r, Arial;
}
.slideCircuit .jour::after {
    display: none !important;
}

@media (max-width: 1200px){
    .search .wrapper{
        padding: 0
    }

}
@media (max-width: 1120px){
    .search .slideActu .item {
        width: 50%;
    }
}


@media (max-width: 1200px){
    .linkDepart.link{ transform: inherit;right: 0;bottom: 0;position: fixed;top: inherit; width: 100%;text-align: center; font-size: 14px; line-height: 14px;  border-radius: 0;  -webkit-border-radius: 0;  -moz-border-radius: 0; height: auto; padding: 24px 0 15px;margin: 0;width: calc(50% - 1px);}
    .linkDepart.link.link_tourisme_durable{ right:0 }



    .linkDepart.link span::after {
        content: '';
        width: 18px;
        height: 15px;
        position: absolute;
        right: 25px;
        left:inherit;
        top: 50%;
        margin-top: -7px;
        background: url(images/arw-link-mob.png)right center no-repeat;
        animation: movesLink-mob 1s infinite ease-in-out;


    }
    .linkDepart.link span>  span::after{display: none; }
    .linkDepart.link span{ display: inline-block; /*vertical-align: middle;*/ }
    .linkDepart.link span > span{ font-size: 14px;line-height: 18px; }
    .linkDepart.link span::after{ display: none;;vertical-align: middle;position: inherit;top: inherit;right: inherit;bottom: inherit;margin: 0;padding-left: 15px }
    .linkDepart.link{left:0; }
    .laureat { left: 0;right: 0;margin: auto;width: 230px;top: 318px }
    .laureat img {  }

}




@media (max-width: 900px){
    .slideTeam .text {
        min-height: inherit;
    }
}
@media (max-width: 820px){
    .blcActu .mahay{
        display: block;
    }
}

@media (max-width: 768px){
    .linkDepart.link{ padding-left:20px;padding-right:20px; }
}



@media (max-width: 600px){
    .blcActu .entry-content{
        padding: 0 20px 10px;
    }
    .archive-partenaire h1.titre{
        padding: 0
    }
    .search-no-results .blcFormulaire {
        width: 100%;
    }
    .search .slideActu .item {
        width: 100%;
    }

    .linkDepart.link{ padding: 23px 10px 19px}
    .slideCircuit .jour {
        padding: 0 15px !important;
    }
    .linkDepart.link span > span{ display: block; }

}
.banner-page:before{ background-color: rgba(0,0,0,0.1)!important;}